/* Default background image */
div.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/images/pexels-rostislav-5011647-360x640.webp") no-repeat
    center center;
  background-size: cover;
  z-index: -1;
}

/* Background image for screens wider than 768px */
@media (min-width: 768px) {
  div.fullscreen-bg {
    background-image: url("/images/pexels-rostislav-5011647-1920x1080.webp");
  }
}
